.search {
    position: relative;
    margin: 0 auto;
    width: 100%;
    background: rgba(50, 50, 50, .2);
    display: flex;

    &__wrapper {
        max-width: 1200px;
        left: 0;
        right: 0;
        width: 100%;
        margin: 0 auto;
        margin-top: 6em;
    }

    &__item {
        margin-top: 1em;
        display: grid;
        grid-template-columns: 12em 3fr 7em;
        grid-template-rows: 3em 14em;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title rating"
            "img description description"
        ;
    }

    &__title {
        grid-area: title;
        margin: 0.5rem;
        color: #494c62;
    }

    &__rating {
        grid-area: rating;
        place-self: center;
        color: #494c62;

        &-big {
            font-size: 1.5em;
        }
    }

    &__img {
        grid-area: img;
        margin: 1em;
        height: 15em;
        width: 10em;
        background-size: cover;
        border-radius: 0.3em;
    }

    &__description {
        grid-area: description;
        margin: 0.5rem;
        color: #494c62;
        line-height: 1.5;
    }

    .fa-star {
        color: #ff0079;
    }
}

@media (max-width: 769px) {
    .search {
        &__img {
            height: 12em;
            width: 8em;
        }

        &__item {
            grid-column-gap: 0;

        }

        &__title {
            font-size: 1.2em;
        }

        &__description {
            line-height: 1.1;

            &__plot {
                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        &__rating {
            font-size: 1em;

            &-big {
                font-size: 1em;
            }
        }
    }
}