.catalog {
    position: relative;

    &__header {
        width: 100%;
        max-width: 1200px;
        margin: 20px auto;
        padding: 0 20px;
    }

    &__menu {
        display: flex;
        justify-content: flex-start;
        height: 70px;
    }
}

.menu {
    border-bottom: 2px solid #dfdfdf;

    &__item {
        display: flex;
        justify-content: center;
    }

    &__btn {
        background-color: transparent;
        border: none;
        font-size: 1rem;
        color: #80818a;
        padding: 0 10px;
        position: relative;
    }

    &__btn_active {
        color: #ff0079;
    }

    &__btn_active:after {
        content: '';
        width: 100%;
        position: absolute;
        bottom: 2px;
        left: 0;
        background-color: #ff0079;
        height: 2px;
    }
}