.tile {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.tile-item {
    position: relative;
    justify-self: center;
    width: 15em;

    &__pic {
        >img {
            height: 21em;
            width: 15em;
        }
    }

    &__discription {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px;
    }

    &__desc {
        display: flex;
        flex-direction: column;
    }

    &__title {
        color: #494c62;
        font-size: 1.3em;
    }

    &__genres {
        color: #babbc3;
        font-size: 1em;
    }

    &__ratio {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        width: 5em;
        height: 2em;
        background-color: rgba($color: #F8F8F8, $alpha: 0.6);
        border: 1px solid #ff0079;
        border-radius: 3px;
        color: #ff0079;
        font-size: 14px;
        font-weight: 600;
        align-items: center;
        justify-content: center;
    }
}


@media (max-width: 1023px) {
    .tile {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 767px) {
    .tile {
        grid-template-columns: repeat(2, 1fr);
    }

    .tile-item {
        width: 10em;

        &__pic {
            >img {
                height: 15em;
                width: 10em;
            }
        }
    }
}