@media screen and (max-width: 575px) {
  .nav__btn {
    padding: 0 5px;
  }
  .header-content {
    top: 40%;
  }
  .header-content__widget {
    display: none;
  }
  .content__desc_genre {
    word-spacing: 0.5em;
  }
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0);
  outline: 1px solid rgb(0, 128, 255);
  width: 10px;
}
