.react-tabs {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &__tab-list {
        display: flex;
        justify-content: flex-start;
        height: 4em;
        margin-bottom: 1em;
        padding-top: 2em;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #f8f8f8;
    }

    &__tab {
        display: flex;
        justify-content: center;
        background-color: transparent;
        border: none;
        font-size: 1rem;
        color: #80818a;
        padding: 0 10px;
        position: relative;
        cursor: pointer;

        &--selected {
            color: #ff0079;

            &:after {
                content: '';
                width: 100%;
                position: absolute;
                bottom: 2px;
                left: 0;
                background-color: #ff0079;
                height: 2px;
                transition: left .3s ease-in-out;
            }
        }
    }

    &__tab-panel {
        display: none;

        &--selected {
            display: block;
        }
    }
}