.page__header {
    //background-image: url(./images/featured-image-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 50%;
    margin: 0 auto;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 3em;

    &__main {
        display: flex;
        flex-direction: column;
    }

    &__title {
        padding: 20px 0;
    }
}

.content__title {
    color: #ffffff;
    font-size: 45px;
    font-weight: lighter;
    text-align: center;
}

.content__desc {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 0;
}

.content__desc_genre {
    word-spacing: 1em;
}

.header-content__btn {
    display: flex;
    flex-direction: row;
    height: 45px;
}

.content__btn {
    border: none;
    color: #ffffff;
    padding: 0 30px;
    background-color: transparent;
}

.content__btn_color {
    background-color: #ff0079;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    padding: 0 30px;
    margin-right: 15px;
}

.content__btn_bordered {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 3px;
    background-color: transparent;
    padding: 0 30px;
}