.menu-box {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    padding-top: 2em;
    margin: 0 auto;
    z-index: 90;

    .logo {
        font-size: 2em;

        a {
            text-decoration: none;
            color: #ffffff;
        }
    }
}

.menu-toggle {
    color: #ffffff;
    border: 0;
    background-color: transparent;
    font-size: 3em;
    width: 1em;
    height: 1em;
    line-height: 0.4;
    text-indent: 5em;
    white-space: nowrap;
    overflow: hidden;
}

.menu-toggle::after {
    position: absolute;
    top: 0.9em;
    display: block;
    content: '\2261';
    text-indent: 0;
}

.menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
}

.menu-dropdown.is-open .menu-dropdown {
    display: block;
}

@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }

    .menu-dropdown {
        display: block;
        position: static;
    }
}

.nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__item {
        display: flex;
        align-self: center;
        padding: 0.6em;
        border: none;
        background-color: transparent;
        color: #ffffff;
        margin-left: 2em;
        border-radius: 0.3em;
        border: 2px solid rgba(0, 0, 0, 0);
        transition: all .5s ease;

        &:hover {
            border: 2px solid #ffffff;
            cursor: pointer;
            box-shadow: 0 6px 8px -6px rgba($color: #ffffff, $alpha: .8);
            background-color: rgba(0, 0, 0, 0.5);
        }

        &-color {
            background-color: #ff0079;
        }
    }
}

@media (max-width: 769px) {
    .nav__menu {
        display: flex;
        border: 0;
        padding: 0 1em;

        >li {
            flex: 1;
        }

        >li+li {
            border: 0;
        }
    }
}