.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 2em;

    .logo {
        font-size: 30px;
        color: #ffffff;
    }

    .nav__btn {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &__item {
            border: none;
            background-color: transparent;
            color: #ffffff;
            margin-left: 2em;
            border-radius: 0.3em;
            border: 2px solid rgba($color:#ffffff, $alpha: 0);
            &:hover {
                border: 2px solid #ffffff;
            }
            &-color {
                background-color: #ff0079;
            }
        }
        .fas {
            height: 18px;
            font-size: 18px;
        }

    }
}