.auth {
    display: grid;
    width: 30em;
    height: 20em;
    border-radius: 1em;
    border: 2px solid #fff;
    padding: 1em;
    align-items: stretch;
    margin: auto;

    &__label {
        color: #fff;
        text-transform: uppercase;
        display: grid;
        align-self: center;
        height: 1em;
        padding-left: 1em;
    }

    //&__input {}

    &__button {
        margin-top: 1em;
        height: 3em;
    }
}

@media (max-width: 769px) {
    .auth {
        width: 25em;
    }
}